* {
  font-family: verdana;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: #fff;
}
/* Styling Boxes */

.box {
  height: 10rem;
  min-width: 10rem;
  flex-grow: 1;
}

.one {
  background: red;
}

.two {
  background: blue;
}

.three {
  background: green;
}
