* {
  font-family: verdana;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: #fff;
  /* justify-content: center;
  align-items: center;
  height: 30rem; */
  flex-wrap: wrap;
}
/* Styling Boxes */

.box {
  height: 10rem;
  min-width: 20rem;
  flex-grow: 1;
  /* width: 32rem; */
}

/* FLEX-GROW is such  a cool property to create grids of any columns */
.one {
  background: red;
  /* flex-grow: 1; */
  flex-shrink: 6;
}

.two {
  background: blue;
  /* flex-grow: 3; */
  flex-shrink: 3;
}

.three {
  background: green;
  flex-grow: 1;
  flex-shrink: 1;
}
